In [1]:
import pandas as pd

In [2]:
tweets_df = pd.read_csv('1.2-scraped-tweets.csv', header=None)

In [3]:
tweets_df.head()

                                                   0
0  जुम्राको उत्पति को कथा त कास्टिङ मात्र हो हेर्...
1  स्याङ्जाको पुतलीबजार नगरपालिका गण्डकी प्रदेशको...
2  फेक मिडिया गरेर दुनियाँमा अफबाह फैलाउनेलाई भाट...
3  चाइनाने कोरोना फैलाउछ र किटमास्क बेच्छ अमेरिका...
4  जोर र बिजोर ले अर्थतन्त्र लाईन मा आउने भए तेत्...

In [4]:
tweets_df.columns = ["tweets"]

In [5]:
tweets_df = tweets_df.dropna()
tweets_df = tweets_df.drop_duplicates(subset=['tweets'], keep='first')
tweets_df.shape

(28575, 1)

In [6]:
tweets_df = tweets_df.reset_index(drop=False)
tweets_df.drop('index', inplace=True, axis=1)
tweets_df.head()

                                              tweets
0  जुम्राको उत्पति को कथा त कास्टिङ मात्र हो हेर्...
1  स्याङ्जाको पुतलीबजार नगरपालिका गण्डकी प्रदेशको...
2  फेक मिडिया गरेर दुनियाँमा अफबाह फैलाउनेलाई भाट...
3  चाइनाने कोरोना फैलाउछ र किटमास्क बेच्छ अमेरिका...
4  जोर र बिजोर ले अर्थतन्त्र लाईन मा आउने भए तेत्...

In [7]:
with open('stop_words.txt', encoding="utf-8") as f:
    words = [line.strip() for line in f]
stop_words = set(words)

In [8]:
from inltk.inltk import tokenize
def removeAndTokenize(text):
#     tokens = tokenize(text, 'ne')
    tokens = [word.replace('▁', '') for word in tokenize(text, 'ne')]
    tokens = [word for word in tokens if word not in stop_words]
    return " ".join(tokens)

In [ ]:
tweets_df['cleaned_tweets'] = tweets_df['tweets'].apply(lambda x: removeAndTokenize(x))

In [ ]:
tweets_df.head()

In [ ]:
tweets_df.to_csv('2.2-unlabelled-tweets.csv', index=False)